@import "reset";
@import "mixin";
@import "variables";

#header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;
  background: rgba(38, 39, 43, 0.33);
  backdrop-filter: blur(3px);
  .header {
    animation: hed 4s ease-in-out;
    @keyframes hed {
      0% {
        transform: translateY(-100px);
      }

    }
    @include between();
    padding: 25px 0;
    &--title {
      @include flex();
      h1 {
        font-weight: 700;
        font-size: 32px;
        color: $wh;
      }
      h2 {
        padding-top: 6px;
        font-weight: 700;
        font-size: 24px;
        color: $wh;
      }
      &__star {
        margin-bottom:25px;
        clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
        width: 23px;
        height: 23px;
        background:  #FF9900;
      }
      input {
        margin-left: 80px;
        width: 330px;
        height: 51px;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.7);
        border-radius: 41px;
        padding-left: 20px;
        color: $wh;
        font-size: 16px;
      }
      a {
        position: relative;
        right: 40px;
        color: $ic;
        font-size: 24px;
      }
    }
    &--nav {
      padding-right: 60px;
     a  {
       &:hover {
         @include hover();
       }
       transition: .3s ease-in-out;
       padding-left: 50px;
       font-weight: 500;
       font-size: 14px;
       color: $ic;
     }
    }
    &--icon {
    a {
      color: $ic;
      font-size: 18px;
      padding-left: 20px;
      &:hover {
        @include hover();
      }
    }
    }
  }
}
#hero {
  padding: 60px 0 ;
  .hero {
    overflow: hidden;
    @include center();
    &--title {
      animation: text 5s ease-in-out;
      @keyframes text  {
        0% {
          transform: translateY(-500px);
        }

      }
      padding-top: 20px;
      @include flex();
      &__star {
        margin-top: 20px;
        clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
        width: 22.41px;
        height: 20.17px;
        background: #0C7BFE;
        transform: rotate(-45.16deg);
        animation: fg 2s infinite ease-in-out;
      }
      @keyframes fg {
        0% {
          opacity: 0.5;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0.5;
        }

      }
      h3 {
        padding-right: 10px;
        font-weight: 500;
        font-size: 20px;
        color: $nb;
      }
    }
    &--text {
      animation: title 5s ease-in-out;
      @keyframes title  {
        0% {
          transform: translateX(-1300px);
        }

      }
      @include centr();
      &__star {
        position: relative;
        left: 16px;
        bottom:43px;
        clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
        width: 35px;
        height: 35px;
        background: $bj;
        animation: st 2s infinite ease-in-out;
      }
      @keyframes st {
        0% {
          opacity: 0.5;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0.5;
        }

      }
      h1 {
        font-weight: 500;
        font-size: 96px;
        color: $wh;
      }
      img {
        margin: 0 20px;
      }
      &__stars {
        position: relative;
        bottom: 40px;
        left: 20px;
        clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
        width: 8px;
        height: 8px;
        background: $wh;
        transform: rotate(-180deg);
        animation: sts 2s infinite ease-in-out;

      }

      @keyframes sts {
        0% {
          opacity: 0.5;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0.5;
        }

      }
    }
    &--and {
      animation: and 5s ease-in-out;
      @keyframes and  {
        0% {
          transform: translateX(1300px);
        }
        
      }
      @include flex();
      &__crug {

        margin-right: 60px;
        margin-top: 60px;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background: transparent;
        border: 1px solid $wh;
        animation: st 2s infinite ease-in-out;

      }
      h1 {
        font-weight: 500;
        font-size: 96px;
        color: $wh;

      }
      img {
        margin: 0 30px;
      }
    }
    &--nft  {
      animation: nft 4s ease-in-out;
      @keyframes nft  {
        0% {
          transform: translateY(300px);
        }
        
      }
      position: relative;
      h1 {
        font-weight: 500;
        font-size: 96px;
        color: $wh;
      }
      &__star {
        margin-top: 10px;
        clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
        width: 30px;
        height: 27px;
        background: $bl;
        animation: st 2s infinite ease-in-out;

      }
    &__bg {
      z-index: 10;
      position: relative;
      right: -763px;
      top: -81px;
      //margin-left: 700px;
      width: 211px;
      height: 78px;
      border: 1px solid #FFFFFF;
      border-radius: 39px;
      transform: rotate(-90deg);
      animation: st 2s infinite ease-in-out;

    }
    }
  }
}
#nft {
  .nft {
    overflow: hidden;
    padding-top: 80px;
    @include between();
    &--work {
      padding-top: 80px;
      &__top {
        //padding-bottom: 100px;
        @include flex();
        &--title {
          h5 {
            opacity: 0.9;
            padding-left: 40px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $wh;
          }

          h4 {
            opacity: 0.9;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $wh;
          }

          h3 {
            opacity: 0.9;
            padding-left: 20px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $wh;
          }

          p {
            opacity: 0.9;
padding-left: 150px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $wh;
          }
        }
        &--bg {
          @include center();
          margin-left: 10px;
          width: 76px;
          height: 76px;
          background: $st;
          border-radius: 50%;
          &__star {
            width: 38px;
            height: 38px;
            background: #C5CFDE;
            clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
          filter: drop-shadow(8px 8px 9px #C5CFDE);
            animation: fg1 3s infinite ease-in-out;
          }
        }
      }
    &__btn {
      @include flex();
      padding-top: 120px;
      padding-left: 100px;
      &--fg {
        width: 80px;
        height: 313px;
       border: 1px solid $wh;
        border-radius: 70px;
        animation: st 2s infinite ease-in-out;

      }
      &--fgs {
        width: 89px;
        height: 32px;
        border: 1px solid $wh;
        border-radius: 39px;
        margin-top: 60px;
        margin-left: 40px;
        animation: fg2 3s infinite ease-in-out;
      }
      @keyframes fg2  {
        0% {
          transform: rotate(180deg);
        }50% {
           transform: rotate(380deg);
         }100% {
            transform: rotate(180deg);
          }

      }
      &--bg {
        position: relative;
        left: 37px;
        bottom: -196px;
        clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
        width: 51px;
        height: 51px;
        background: $nb;
        animation: fg1 3s infinite ease-in-out;
      }
      @keyframes fg1  {
        0% {
          transform: rotate(480deg);
        }50% {
          transform: rotate(160deg);
        }100% {
          transform: rotate(480deg);
        }
        
      }
    }
    }
    &--img {
      padding-bottom: 70px;
      &__fg {
        position: relative;
        width: 346px;
        height: 532px;
        background: linear-gradient(354.73deg, #E4E4A8 2.81%, #5C5C56 104.28%);
        border-radius: 209px;
        transition: .4s ease-in-out;
        &:hover {
          margin-right: 50px;
        }
        &--img {
          position: absolute;
          left: -140px;
          bottom: -60px;
        }
      }
    }
    &--right {
      position: relative;
      right: 154px;
      @include center();
      &__fg {
        width: 79px;
        height: 76px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
        background: transparent;
        animation: fg3 3s infinite ease-in-out;
      }
      @keyframes fg3 {
      0% {
        transform: translateY(-100px);
        background: $nb;
        box-shadow: 0 5px 5px $nb,
        0 0 20px $nb,
        0 0 60px $nb,
        0 0 150px $nb;
          } 50% {
             transform: translateY(100px);
                    background: $nb;
                    box-shadow: 0 5px 5px $nb,
                    0 0 20px $nb,
                    0 0 60px $nb,
                    0 0 150px $nb;

          }100% {
                               //background: $nb;
                               //box-shadow: 0 5px 5px $nb,
                               //0 0 20px $nb,
                               //0 0 60px $nb,
                               //0 0 150px $nb;
             transform: translateY(-100px);
          }
      }
      p {
        //padding-right: 40px;
        //text-align: center;
        padding: 140px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
color: $wh;
      opacity: 0.8;
      }
      &__fgs {
        position: relative;
        top: 6px;
        right: -69px;
        width: 42px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $wh;
        animation: fg4 3s infinite ease-in-out;
      }
      @keyframes fg4 {
        0% {
          transform: translateX(-100px);
        }50% {
          transform: translateX(100px);
        }100% {
          transform: translateX(-100px);
        }
      }
    }
  }
}
#icons {
  padding-top: 200px;
  padding-bottom: 100px;
  .icons {
    &--top {
      @include wrap();
      h1 {
        padding-bottom: 40px;
        padding-right: 79px;
        font-weight: 600;
        font-size: 40px;
        color: $wh;
      }
      &__title {
        @include flex();
        position: relative;

        img {
          position: absolute;
          left: -48px;
          top: 7px;
        }
      }
      &__title2 {
        @include flex();
        position: relative;

        img {
          position: absolute;
          left: -71px;
          top: -25px;
        }
      }
      &__title3 {
        @include flex();
        position: relative;

        img {
          position: absolute;
          left: -48px;
          top: -1px;
        }
      }
    }
    &--btn {
      @include wrap();
      img {
        margin-right: 20px;
      }
    }
  }
}
#cards {
  .cards {
    &--title {
      padding-bottom: 40px;
      @include center();
      text-align: center;
      &__bg {
        @include flex();
        h3 {
          font-weight: 500;
          font-size: 20px;
          color: $bj;
        }
      &--fg {
        clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
        width: 20px;
        height: 20px;
        background: $nb;
      }
      }
      h1 {
        font-weight: 500;
        font-size: 32px;
        color: $wh;
      }
      h2 {
        font-weight: 500;
        font-size: 32px;
        color: $wh;
      }
    }
    &--blocks {
      .swiper {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: transparent;
        margin-bottom: 80px;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      @include wrap();
      &__glav {
        width: 440px;
        height: 590px;
        border: 1px solid #FFFFFF;
        border-radius: 28px;
        padding-top: 20px;
        &--card{
          position: relative;
          top: -20px;
          &__title {
            position: absolute;
            left: 60px;
            bottom: 30px;
            @include center();
            text-align: center;

            h1 {
              padding-bottom: 10px;
              font-weight: 600;
              font-size: 29px;
              color: $wh;
            }

            p {
              opacity: 0.9;
              font-weight: 600;
              font-size: 16px;
              line-height: 19px;
              color: $wh;
            }

            button {
              &:hover {
                transform: scale(0.9);
                box-shadow: 0 5px 5px #FF9900,
                0 0 20px #FF9900,
                0 0 60px #FF9900,
                0 0 150px #FF9900;
              }
transition: .4s ease-in-out;
              margin-top: 40px;
              font-weight: 500;
              font-size: 14px;
              color: $wh;
              width: 72.39px;
              height: 39.59px;
              background: #FE8B46;
              border: 1px solid #FFFFFF;
              border-radius: 40px;
            }

          }
        }
      }

    }
  }
}
#items {
  padding-top: 40px;
  h1 {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    color: $wh;
  }
  .items {
    overflow: hidden;

    &--figurs {
      @include between();
      padding: 60px 0;
      &__fg {

        width: 92px;
        height: 34px;
        border: 1px solid #FFFFFF;
        border-radius: 39px;
        transform: rotate(-90deg);
      }
      &__fg2 {
        position: relative;
        right: 71px;
        bottom: 50px;
        clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
        width: 21px;
        height: 21px;
        background: #FFFFFF;
        transform: rotate(45.95deg);
        animation: fg2 3s infinite ease-in-out;
      }
      &__fg3 {
        position: relative;
        left: 37px;
        bottom: 55px;
        width: 32px;
        height: 31px;
        border-radius: 50%;
        border: 1px solid $ye;
        animation: fg5 3s infinite ease-in-out;
      }
      @keyframes fg5 {
        0% {
          transform: translateY(-100px);
        }
        50% {
          transform: translateY(100px);
        }
        100% {
          transform: translateY(-100px);
        }
      }
      &__fg4 {
        position: relative;
        right: 71px;
        top: 54px;
        width: 32px;
        height: 31px;
border-radius: 50%;
        border: 1px solid #FE67EF;
        animation: fg6 3s infinite ease-in-out;
      }
      @keyframes fg6 {
        0% {
          transform: translateX(-50px);
        }
        50% {
          transform: translateX(50px);
        }
        100% {
          transform: translateX(-50px);
        }
      }

    }
    &--title {
      @include centr();
      h3 {
        font-weight: 500;
        font-size: 20px;
        color: $bj;
      }
      &__hot {
        position: relative;
        right: 40px;
        clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
        width: 20px;
        height: 20px;
        background: $bj;
      }
    }
    &--top {overflow: hidden;
      @include between();
      padding: 40px 0;
      select {
        padding: 0 25px;
        width: 231px;
        height: 58px;
        border: 1px solid #FFFFFF;
        border-radius: 14px;
        background: #15141A;
        outline: none;
          font-weight: 200;
          font-size: 20px;
        color: $wh;

      }
    &__btn {
      width: 161px;
      height: 63px;
      background: #FE8B46;
      border: 1px solid #FFFFFF;
      border-radius: 38px;
        &--text {
        @include flex();
          justify-content: center;
          padding-top: 10px;
          h1 {
            font-weight: 500;
            font-size: 28px;
            padding-right: 10px;
            color: $wh;
          }
      &__st {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        a {
          color: $wh;
          font-size: 18px;
        }
      }
        }
    }
    }
    &--blocks {
      @include wrap();

      &__card {
        margin: 25px 0;
        width: 305px;
        height: 468px;
        border: 1px solid #A6A6A6;
        border-radius: 26px;
        padding-top: 25px;
        padding-left: 20px;
        transition: .6s ease-in-out;
        animation: card 3s infinite ease-in-out;
        @keyframes card  {
          0% {
            opacity: 0.5;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0.5;
          }
        }
        &:hover {
          margin-bottom: 100px;
        }
        &--title {
          padding-top: 10px;
          @include flex();
          .price {
            padding-left: 155px;
          }
        .h5 {
          padding-right: 105px;
        }
          .h4 {
            padding-left: 180px;
          }
          h5 {
            padding-right: 5px;
            font-weight: 500;
            font-size: 14px;
            color: $wh;
          }
          h4 {
            padding-left: 110px;
            font-weight: 500;
            font-size: 14px;
            color: $wh;
          }
        }
        &--h4 {
          @include flex();
          .numbers {
            margin-left: 60px;
          }
          h4 {
            padding-right: 85px;
            //padding-bottom: 30px;
            //padding-top: 7px;
            font-weight: 500;
            font-size: 20px;
            color: $wh;
          }
          h5 {
            font-weight: 500;
            font-size: 18px;
            color: $nb;
            padding-bottom: 25px;
          }
          .number-title {
            padding-top: 10px;
          }
          .number {
            padding-left: 40px;
          }
        }
        &--btn {
          border-top: 1px solid #A0A0A0;
          width: 93%;
          margin-top: 65px;
          //padding-top:60px;
          @include flex();
          a {
            margin-left: 200px;
            margin-right: 10px;
            color: $wh;
            font-size: 36px;
          }
          h2 {
            font-weight: 500;
            font-size: 15px;
            color: $wh;
          }
        }
      }
    }
  }
}
#bored {
  .bored {
    padding-top: 100px;
    &--title {
      @include center();
      button {
        &:hover {
          background: $nb ;
          transform: scale(0.9);
            box-shadow: 0 5px 5px #FF9900,
            0 0 20px #FF9900,
            0 0 60px #FF9900,
            0 0 150px #FF9900;
          border: 1px solid #FFFFFF;
        }
        transition: .4s ease-in-out;
        margin-bottom: 120px;
        width: 150px;
        height:40px;
        border: 1px solid $wh;
        background: transparent;
        border-radius: 20px;
        font-weight: 400;
        font-size: 20px;
        color: $wh;
      }
      &__nft {
        @include flex();
        h3 {
          font-weight: 500;
          font-size: 20px;
          color: $nb;
        }
        &--fg {
          clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
          width: 20px;
          height: 20px;
          background: $bj;
        }
      }
      h1 {
        font-weight: 500;
        font-size: 40px;
        color: $wh;
      }
      select {
        font-weight: 500;
        font-size: 40px;
        color: $bj;
        border: none;
        outline: none;
        background:#15141A;
      }
      &__fg {
        position: relative;
        right: 500px;
        width: 21px;
        height: 21px;
        background: $wh;
        transform: rotate(45.95deg);
        clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);

      }
    }
    &--blocks {
      padding: 100px 0;
      @include wrap();
      &__card {
        //padding: 0 20px;
        @include flex();
        width: 429px;
        height: 91px;
        border: 1px solid #BCBCBC;
        border-radius: 13px;
        margin-bottom: 40px;
        opacity: 0.3;
        transition: .6s ease-in-out;
        &:hover {
          opacity: 1.1;
          transform: scale(1.0);
          margin-bottom: 60px;
        }
      h4 {
        padding-left: 10px;
        font-weight: 500;
        font-size: 20px;
        color: $wh;
      }
        &--img {
          padding-top: 20px;
          margin: 0 10px;
          .img2 {
            padding-bottom:15px;
          }
          &__img2 {
              .gk {
                position: relative;
                left: 30px;
                bottom: 20px;
              }
              .gr {
                position: relative;
                bottom: 65px;
                left: 15px;
              }
          }
        }
      &--text {
        h2 {
          padding-bottom: 7px;
          font-weight: 600;
          font-size: 18px;
          color: $wh;
        }
        h3 {
          font-weight: 300;
          font-size: 16px;
        color: $wh;
        }
      }
      &--number {
        padding-left: 60px;
        h5 {
          text-align: end;
          padding-bottom: 8px;
          font-weight: 500;
          font-size: 13px;
          color: $gr;
        }
        &__img {
          @include flex();
          h4{
            font-weight: 500;
            font-size: 15px;
            color: #DC9752;
          }
        }
      }
      &--numbers {
        padding-left: 50px;
        h5 {
          text-align: end;
          padding-bottom: 8px;
          font-weight: 500;
          font-size: 13px;
          color: $gr;
        }
        &__img {
          @include flex();
          h4{
            font-weight: 500;
            font-size: 15px;
            color: #DC9752;
          }
        }
      }
      }
    }
  }
}
#sell {
  .sell {
    &--top {
      @include around();
      &__figure {
        position: relative;
        bottom: 40px;
        width: 66px;
        height: 38px;
        border: 1px solid #FFFFFF;
        border-radius: 39px;
        transform: rotate(-90deg);
      }
      button {
        &:hover {
          background: $nb ;
          transform: scale(0.9);
          box-shadow: 0 5px 5px #FF9900,
          0 0 20px #FF9900,
          0 0 60px #FF9900,
          0 0 150px #FF9900;
          border: 1px solid #FFFFFF;
        }
        transition: .4s ease-in-out;
        background: transparent;
        width: 210px;
        height: 64px;
        border: 1px solid #FFFFFF;
        border-radius: 36px;
        font-weight: 400;
        font-size: 20px;
        color: $wh;
      }
      &__fg {
        position: relative;
        bottom: -40px;
        clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
        width: 56.14px;
        height: 56.14px;
        background: $wh;
        transform: rotate(45.95deg);
      }
    }
    &--title {
      padding: 80px 0;
      @include between();
      &__figure {
        position: relative;
        bottom: 40px;
        width: 199px;
        height: 47px;
        border: 1px solid #A7A7A7;
        border-radius: 39px;
      }
      &__text {
        padding-right: 200px;
        @include center();
        //text-align: center;
        &--bg  {
          @include flex();
          h3 {
            text-align: center;
            padding-right: 10px;
            font-weight: 500;
            font-size: 24px;
            color: $nb;
          }
        &__fg {
          clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
          width: 20px;
          height: 20px;
          background: #FFC163;
        }
        }
        h2 {
          text-align: center;
          font-weight: 500;
          font-size: 40px;
          color: $wh;
        }
      }
      &__fg {
        position: relative;
        right: 190px;
        top: 60px;
        width: 32px;
        height: 31px;
        border-radius: 50%;
        border: 1px solid #A0A0A0;
      }
    }
    &--img {
      position: relative;
      @include center();
      &__bg {
        position: absolute;
        left: 185px;
        top: 2px;
        &--h1 {
          position: absolute;
          left: 100px;
          bottom: 110px;
          h1 {
            font-weight: 600;
            font-size: 52px;
            color: $wh;
          }
        }
      }
      &__fg {
        position: relative;
        right:400px;
        margin-top: 50px;
        clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
        width: 24.21px;
        height: 23.99px;
        background: #FFFFFF;
        transform: rotate(45.95deg);
      }
    }
  }
}
#start {
  .start {
    &--title {
      @include center();
      padding-bottom: 20px;
      &__text {
        @include flex();
        h3 {
          padding-right: 5px;
          font-weight: 500;
          font-size: 24px;
          color: $nb;
        }
        &--fg {
          clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
          width: 20px;
          height: 20px;
          background: $nb;
        }
      }
      h1 {
        font-weight: 500;
        font-size: 40px;
        color: $wh;
      }
    }
    &--text {
      @include between();
      border-bottom: 2px solid #A0A0A0;
      //padding-bottom: 5px;
      h4 {
        padding-left: 40px;
        font-weight: 500;
        font-size: 14px;
        color: $ye;
      }
      &__bg {
        &--fg {
          position: relative;
          bottom: 30px;
          left: 20px;
          clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
          width: 15.99px;
          height: 15.99px;
          background: #FFFFFF;
          transform: rotate(45.95deg);
        }
        h4 {
          padding-bottom: 20px  ;
          font-weight: 500;
          font-size: 14px;
          color: $ye;
        }
      }
    }
    &--set {
      border-bottom: 2px solid  #A0A0A0;
      padding-top: 30px;
      padding-bottom: 40px;

      transition: .5s ease-in-out ;
      &:hover {
        opacity: 1.1;
        transform: scale(1.0);
        padding-bottom: 100px;
      }
      @include flex-start();
      h1 {
        font-weight: 500;
        font-size: 32px;
        color: $wh;
    }
      &__left {
    @include flex();
        h3 {
          padding: 0 10px;
          font-weight: 500;
          font-size: 20px;
          color: $wh;
        }

      }
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $wh;
        width: 456px;
        opacity: 0.9;
      }
      &__fg {
        margin-top: 40px;
        @include center();
        width: 39px;
        height: 39px;
        border-radius: 50%;
        border: 1.00189px solid #C5C5C5;
        a {
          color: #A0A0A0;
          font-size: 30px;
         padding-top: 6px;
          padding-left: 4px;
          animation: fg 3s infinite ease-in-out;
        }
      }
      img {
        padding-bottom: 7px;
      }
    }
  }
}
#search {
  .search {
    position: relative;
    padding-top: 100px;
    &--top {
      @include between();
      &__left {
        position: relative;
        top: 100px;
        width: 173px;
        height: 58px;
        border: 1px solid #727272;
        border-radius: 39px;
        transform: rotate(-90deg);
      }
      &__btn {
        @include flex();
        &--fg {
          position: relative;
          right: 60px;
          top: 40px;
          clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
          width: 24.21px;
          height: 23.99px;
          background: $wh;
          transform: rotate(45.95deg);
        }
        button {
          &:hover {
            background: $nb ;
            transform: scale(0.9);
            box-shadow: 0 5px 5px #FF9900,
            0 0 20px #FF9900,
            0 0 60px #FF9900,
            0 0 150px #FF9900;
            border: 1px solid #FFFFFF;
          }
          transition: .4s ease-in-out;
          margin-right: 100px;
          background: transparent;
          width: 163px;
          height: 64px;
          border: 1px solid #FFFFFF;
          border-radius: 36px;
          font-weight: 400;
          font-size: 20px;
          color: $wh;
        }
      }
      &__right {
        position: relative;
        right: 144px;
        bottom: 37px;
        width: 32px;
        height: 31px;
        border-radius: 50%;
        border: 1px solid #868686;
        background: transparent;
      }
      &__fg {
        position: absolute;
        right: 284px;
        bottom: 220px;
        width: 24.21px;
        height: 23.99px;
        clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
        background: #555555;
        transform: rotate(45.95deg);
      }
    }
    &--btn {
      padding-top: 200px;
      @include between();
      align-items: center;
      &__text {
        @include flex ();
        h1 {
          font-weight: 700;
          font-size: 76px;
          color: $wh;
        }
        h2 {
          padding-top: 13px;
          font-weight: 700;
          font-size: 58px;
          color: $wh;
        }
        &--fg {
          position: relative;
          bottom: 25px;
          right: 10px;
          clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
          width: 44.78px;
          height: 44.37px;
          background: #E4DB00;
          transform: rotate(91.05deg);
        }
      }
      &__title {
        padding-top: 80px;
        &--h3 {
          @include flex();

          h3 {
            padding-left: 60px;
            font-weight: 700;
            font-size: 32px;
            color: $wh;
          }
        }
        &--text {
          padding-top: 20px;

          @include flex();

          h1 {
            padding-right: 60px;
          font-weight: 700;
          font-size: 32px;
          color: $wh;
        }
        }
      }
      &__h1 {
        padding-top: 120px;
        h1 {
          padding-bottom: 40px;
          padding-top: 40px;
          font-weight: 700;
          font-size: 36px;
          color: $wh;
        }
        &--input {
          @include flex();
          input {
            padding-left: 20px;
            background: transparent;
            font-size: 15px;
            color: $wh;
            width: 287px;
            height: 52px;
            border: 1px solid #B5B5B5;
            border-radius: 9px;
          }
          button {
            position: relative;
            right: 20px;
            @include center();
            width: 54px;
            padding-top: 10px;
            height: 55px;
            background: #FE773B;
            border-radius: 2px;
            a {
              text-align: center;
              color: $wh;
              font-size: 34px;
            }
          }
        }
      }
    }
  }
}
#footer {
  .footer {
    padding-top: 100px;
    padding-bottom: 40px;
    @include between();
    h5 {
      font-weight: 300;
      font-size: 16px;
      color: $wh;
    }
    &--nav {
      padding-right: 40px;
    a {
      //padding-left: 5px;
      //padding-top: 10px;
      margin: 0 10px;
      padding: 5px  10px;
      color: $wh;
      width: 50px;
      height: 30px;
      background: #767676;
      font-size: 28px;
    }
    }
    &--text {
      padding-right: 150px;
      @include flex();
      h1 {
        font-weight: 700;
        font-size: 40px;
        color: $wh;
      }
      &__fg {
        position: relative;
        right: 10px;
        bottom: 17px;
        clip-path: polygon(50% 0%, 61% 35%, 100% 46%, 62% 61%, 50% 100%, 39% 61%, 1% 48%, 39% 35%);
        width: 13.07px;
        height: 12.95px;
        background: $bj;
        color: $bj;

        transform: rotate(90.25deg);
      }
      p {
        font-weight: 300;
        font-size: 16px;
        color: $wh;
      }
    }
  }
}

