$bg:#15141A;
$wh:white;
$bj: #F1B864;
$fl:#FE67EF;
$pr:#A0A0A0;
$gr:#21D605;
$nb:#EEB563;
$ph:linear-gradient(87.96deg, #15141A 6.06%, rgba(21, 20, 26, 0) 98.28%);
$ye: #D29C10;
$ic: rgba(255, 255, 255, 0.7);
$st:#FE773B;
$bl:#0C7BFE;